.changePassword{
    background-color: rgb(125, 180, 210);
    background-size: cover;
    height: 560px;
    width: 40%;
    margin-left: 30%;
}

.title{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    margin-bottom: 20%;
    
}

.change{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: aliceblue;
    color: blue;
    margin-left: 40%;
}

@media screen and (max-width: 650px){
    .changePassword{
        background-color: rgb(125, 180, 210);
        background-size: cover;
        height: 650px;
        width: 100%;
        margin:0%
    }
}



@media screen and (min-width: 321px) and (max-width: 480px){
    .imgForm{
        background-image: url('../image/imagenFondo.jpg');
        background-size: cover;
        height: 650px;
        width: 100%;
        margin:0%
    }
}   