
@media screen and (max-width: 650px){
    .changePassword{
        background-color: rgb(125, 180, 210);
        background-size: cover;
        height: 650px;
        width: 100%;
        margin:0%
    }
}



@media screen and (min-width: 321px) and (max-width: 480px){
    .imgForm{
        background-image: url('../image/imagenFondo.jpg');
        background-size: cover;
        height: 650px;
        width: 100%;
        margin:0%
    }
}   